In [51]:
import pandas as pd
import numpy as np
import getschools as gs

In [52]:
def get_df(year="2013-14"):
    #
    # prog target is 74 percent
    # prof target is 24 percent
    ret = pd.read_excel("../raw/AMAO 2009-14.xlsx",sheetname="SY " + year, skiprows=1)
    
    ret.columns = ["district","progress","proficient","academic_target_met","all_three_met"]
    
    def clean_dist_name(name):
        name = str(name).strip()
        
        if "School District" in name:
            return name
        return name + " School District"
        
    
    ret["district"] = ret["district"].apply(clean_dist_name)
    
    ret = gs.add_district_matches(ret)
    
    ret["district_code"] = ret["dist_code"]
    ret["school_code"] = ret["district_code"]
    ret["year"] = year
    ret = gs.add_drg(ret)
    
    return ret

get_df().head()

,district,progress,proficient,academic_target_met,all_three_met,dist_code,check_dist_col,district_code,school_code,year,drg
0,Bethel School District,0.777385,0.654362,No,No,0090011,Bethel School District,0090011,0090011,2013-14,D
1,Bridgeport School District,0.48316,0.231830,No,No,0150011,Bridgeport School District,0150011,0150011,2013-14,I
2,Bristol School District,0.652601,0.379347,No,No,0170011,Bristol School District,0170011,0170011,2013-14,G
3,Cheshire School District,0.693069,0.470085,LEA with No Targets,No,0250011,Cheshire School District,0250011,0250011,2013-14,B
4,Connecticut Technical High School System Schoo...,0.588235,0.531798,Yes,No,None,None,None,None,2013-14,None

In [53]:
def get_all_years():
    
    frames = []
    for y in range(10,14):
        year = "20" + str(y) + "-" + str(y+1)
        frames.append(get_df(year=year))
        
    return pd.concat(frames)

get_all_years()
df = get_all_years()

In [54]:
get_all_years()[get_all_years()["district"] == "Bethel School District"]

,district,progress,proficient,academic_target_met,all_three_met,dist_code,check_dist_col,district_code,school_code,year,drg
1,Bethel School District,0.8929,0.694000,Yes - Too Few ELs,Yes,0090011,Bethel School District,0090011,0090011,2010-11,D
1,Bethel School District,0.862745,0.629921,Yes - Too Few ELs,Yes,0090011,Bethel School District,0090011,0090011,2011-12,D
1,Bethel School District,0.958904,0.766667,No,No,0090011,Bethel School District,0090011,0090011,2012-13,D
0,Bethel School District,0.777385,0.654362,No,No,0090011,Bethel School District,0090011,0090011,2013-14,D

In [55]:
get_all_years().to_csv("../clean/for_db/amao.csv",index=False)

In [56]:
df[df["district"].str.contains("Bridgeport")]#["district"].unique()

,district,progress,proficient,academic_target_met,all_three_met,dist_code,check_dist_col,district_code,school_code,year,drg
2,Bridgeport School District,0.7917,0.526200,No,No,0150011,Bridgeport School District,0150011,0150011,2010-11,I
2,Bridgeport School District,0.790395,0.500667,No,No,0150011,Bridgeport School District,0150011,0150011,2011-12,I
2,Bridgeport School District,0.833426,0.543854,No,No,0150011,Bridgeport School District,0150011,0150011,2012-13,I
1,Bridgeport School District,0.48316,0.231830,No,No,0150011,Bridgeport School District,0150011,0150011,2013-14,I

In [57]:
df["year"].unique()

array(['2010-11', '2011-12', '2012-13', '2013-14'], dtype=object)

In [58]:
get_all_years().to_csv("../clean/for_db/amao.csv",index=False)

In [60]:
check_df = pd.read_csv("../clean/for_db/amao.csv")
check_df[check_df["district"].str.contains("Bridgeport")]

,district,progress,proficient,academic_target_met,all_three_met,dist_code,check_dist_col,district_code,school_code,year,drg
2,Bridgeport School District,0.7917,0.526200,No,No,150011.0,Bridgeport School District,150011.0,150011.0,2010-11,I
134,Bridgeport School District,0.790395,0.500667,No,No,150011.0,Bridgeport School District,150011.0,150011.0,2011-12,I
266,Bridgeport School District,0.833426,0.543854,No,No,150011.0,Bridgeport School District,150011.0,150011.0,2012-13,I
396,Bridgeport School District,0.48316,0.231830,No,No,150011.0,Bridgeport School District,150011.0,150011.0,2013-14,I